
/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'), url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;1,300&display=swap');



@font-face {
    font-family: 'Predator Movie';
    src: url('../fonts/PredatorMovie.woff2') format('woff2'),
        url('../fonts/PredatorMovie.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'InvisibleKiller';
    src: url('../fonts/InvisibleKiller.woff2') format('woff2'),
        url('../fonts/InvisibleKiller.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}



.title>h1{
	font-family:  'Predator Movie';
	text-align: center;
	font-size: 40px;
	text-decoration: underline;
	text-shadow:0px 1px 5px greenyellow;

}


.title .subtitle{
	text-align: center;
	font-family: "Titillium Web";
	font-weight:  300;

	font-style: italic;
	
}
.subtitle p{
	
	text-decoration: underline;
	font-size: 16px;
	text-transform: none;
	
}

.subtitletext .green{
	color:rgb(110, 160, 11);
}

 main .content .content__text{
	 text-align:justify;
 }

.content .content__text .red{
	color:red;
}
.green{
	color:rgb(110, 160, 11);
}

.content__text .blue{
	color:blue;
}
.content{
	font-family:"Titillium Web" ;
	font-weight: 400 ;
}

nav .nav__title h2{
	font-weight: 900;
	font-size: 25px;
	font-family:  'Predator Movie';
}



.nav__item{
	text-indent: 30px;
	letter-spacing: 2px;
	text-decoration:underline;
	
	font-family:  'Predator Movie';
	
	
}

.physiology h2{
	
	font-size: 20px;
	font-family:  'Predator Movie';
	
	
}

.physiology>p{
	
	text-align: left;
	font-family: InvisibleKiller;
	font-size: 15px;
	line-height: 20px;
	
}

.physiology .green{
	font-weight: 700;
}

.physiology .blue{
	color:blue;
	text-shadow: 0px 0px 5px blue;
	
}

.physiology .bold{
	font-weight: 800;
	font-style: normal;
	text-align: right;
	font-family: sans-serif;
}

.physiology .image{
	text-align: center;
}
.physiology .center{
	text-align: center;
	color:teal;
	font-size: 15px;
	letter-spacing: 6px;
}
.physiology .left{
	text-align: left;
	
}
.physiology .description{
	font-size:10px;
	font-style: oblique;
	font-family: InvisibleKiller;
	color: rgb(0, 0, 179);
	text-shadow: 0px 1px 3px rgb(8, 212, 8);
}

.cycle h2{
	
	font-size: 20px;
	font-family:  'Predator Movie';
}
.cycle>p{
	line-height: 200%;
	text-decoration: overline underline;
	font-family: InvisibleKiller;
	

	
}


.abilities>h2{
	
	font-size: 20px;
	text-align: center;
	font-family:  'Predator Movie';
	line-height: 100px;

}

.abilities>p{
	text-align: center;
	font-family: InvisibleKiller;
	line-height: 50px;
}

.abilities .italic{
	font-style: italic;
	font-size: 19px;
	
	text-decoration: underline;
}

.diet h2{
	
	font-size: 20px;
	text-align: right;
	font-family:  'Predator Movie';
}

.diet>p{
text-align: right;
font-family: InvisibleKiller;
}

.diet span{
	font-weight: 600;
	color:rgb(117, 5, 5);
	text-transform: uppercase;
}

.language h2{
	
	font-size: 20px;
	text-align: left;
	font-family:  'Predator Movie';
	color:rgb(7, 35, 160);
	text-shadow: 0px 1px 2px rgb(0, 170, 192);
}
.language>p{
	text-indent: 50px;
	line-height: 30px;
	text-transform: capitalize;
	color:rgb(1, 1, 20); 
	
	font-family: InvisibleKiller;
}
.technology h2{

	font-size: 20px;
	font-family:  'Predator Movie';
	
}
.technology>p{
	line-height: 250%;
	font-family: InvisibleKiller;
}
.technology span{
	color:rgb(0, 97, 92);
	letter-spacing: 2px;
	font-style:oblique;
}
.culture h2{
	
	font-size: 20px;
	text-align: justify;
	letter-spacing: 10px;
	font-family:  'Predator Movie';
}
.culture h3{
	letter-spacing: 15px;
	font-size: 10px;
	text-transform: uppercase;
	font-family:  'Predator Movie';
}
.culture p{
	word-spacing: 4px;
	letter-spacing:6px;
	white-space:nowrap;
	text-transform: lowercase;
	font-family: InvisibleKiller;
}
.culture span{
	color:blue;
	text-transform: uppercase;
}

.names h2{
	
	font-size: 20px;
	font-family:  'Predator Movie';
}

.names p{
	font-family: InvisibleKiller;
}

.society h2{
	
	font-size: 20px;
	text-align: center;
	font-family:  'Predator Movie';
}
.society p{
	text-align: center;
	font-family: InvisibleKiller;
	font-size:14px;
	line-height: 50px ;
	
}

.society ul{
	text-align: center;
	font-family: InvisibleKiller;
	font-size:12px;
	line-height: 20px ;
}

.society span{
	color:red;
}

.society .crossed{
	text-decoration: line-through;
}

